.metricContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 6px;
}

.metricCard {
  display: flex;
  flex-direction: column;
}

.metricLabel {
  font-size: 0.9rem;
  color: #aaa;
}

.metricValue {
  font-size: 1.2rem;
  font-weight: bold;
}
