.table {
  width: 100%;
  border-collapse: collapse;
}

.cell {
  padding: 4px 6px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.badge {
  margin-left: 0.25rem;
  background-color: #444;
  color: white;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 0.75rem;
}
