.table {
  width: 100%;
  border-collapse: collapse;
}

.tableMargin {
  margin-bottom: 1rem;
}

.cell {
  padding: 4px 6px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.linkButton {
  color: dodgerblue;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
